.reverse{
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  direction: rtl;  /* reversed horizontal */
}
.grid-center{
  margin: auto;
   /* Center the entire grid content */
   justify-content: center;
  
   /* For centering items when there are fewer than full rows */
   grid-auto-flow: row dense;
}
